.loading-overlay {
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100%; /* 전체 화면 가로 크기 */
  height: 100%; /* 전체 화면 세로 크기 */
  background-color: rgba(0, 0, 0, 1); /* 초기 배경 */
  z-index: 9999; /* 다른 요소 위에 표시 */
  display: flex; /* 중앙 정렬을 위한 Flexbox */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.loading-section {
  width: 100%;
  height: 100%;
  animation: fadeToGradient 3s ease-in-out forwards; /* 애니메이션 추가 */
}

.loading-section object {
  width: 8rem; /* 로딩 아이콘 크기 */
  height: 8rem;
}

/* 배경 전환 애니메이션 */
@keyframes fadeToGradient {
  0% {
    background-color: rgba(0, 0, 0, 1); /* 검은색 */
  }
  100% {
    background: linear-gradient(90deg, #6466F1 0%, #8B5CF6 100%); /* 그라데이션 */
  }
}