/* 전체 컨테이너 */
.thankyou-container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: linear-gradient(90deg, #6466F1 0%, #8B5CF6 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "GmarketSansMedium", sans-serif;
    color: #fff;
  }
  
  /* 로고 섹션 */
  .starglow-logo {
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    width:40%;
    min-width: 150px;
    max-width: 250px;
  }

  .logo-image {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
  }
  
  .starglow-text {
    font-size: 18px;
    text-transform: uppercase;
  }
  
  /* 메인 메시지 */
  .thankyou-message {
    text-align: center;
  }
  
  .thankyou-message h1 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .thankyou-message p {
    font-size: 1rem;
    margin-top: 2px;
  }
  
  .frame-50811 {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    max-width: 100px;
  }

  .social {
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    gap: 20px;
    width: 27%;
    min-width: 85px;
    max-width: 120px;
    justify-content: center;
  }

  
  /* 버튼 스타일 */
  .invite-button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: #f2f2f2;
    color: #000;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease; /* 호버 시 반응성 강화 */
  }

  .invite-button:hover {
    background: #e0e0e0;
    transform: translateY(-2px); /* 시각적 효과 추가 */
  }

  .invite-button:disabled {
    background: #ccc;
    cursor: not-allowed;
    box-shadow: none; /* 비활성화 시 그림자 제거 */
  }

  /* Popup Content */
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.popup-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.popup-button:hover {
  background-color: #0056b3;
}

.popup-close-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.popup-close-button:hover {
  background-color: #c82333;
}